
*{
    font-family: "Source code pro", Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    transform: rotate(0);
    transition: transform 0.1s;
}

.animation{
    transform: rotate(180deg)!important;
    transition: transform 0.1s;
}
.content{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.anim{
    color: black;
    font-size: 125%;
}
.content>div{
    text-align: center;
}
.circle{
    margin: 40px;
    background-color: lightsalmon;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    transition-timing-function: ease-in-out;
    transition: 2s;
}
.circle:hover{
    width: 800px;
    border-radius: 0;
}

.losange{
    margin: 60px;
    background-color: whitesmoke;
    height: 260px;
    width: 260px;
    transform: rotate(45deg);
    animation-name: losange_changing_colors;
    animation-duration: 4s;
}

.li{
    justify-content: flex-start;
}
#li_1{

}
@keyframes losange_changing_colors {
    0%  {background-color: lightgreen;}
    25%   {background-color: lightyellow;}
    50%  {background-color: lightgreen;}
    75%  {background-color: lightskyblue;}
    100% {background-color: whitesmoke;}
}

.square {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin:10px;
    border-radius:25px;
    background-color:red;
    animation-name: square;
    animation-duration: 6s;
    animation-iteration-count: 2;
    animation-direction: alternate-reverse;
}

@keyframes square {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
    50% {width: 1000px;}
}

.square:hover {
background-color: yellow;
}
.texte{
    text-align:center;
}
