code[class*=language-],pre[class*=language-]{color:#ccc;background:0 0;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto}:not(pre)>code[class*=language-],pre[class*=language-]{background:#2d2d2d}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.block-comment,.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#999}.token.punctuation{color:#ccc}.token.attr-name,.token.deleted,.token.namespace,.token.tag{color:#e2777a}.token.function-name{color:#6196cc}.token.boolean,.token.function,.token.number{color:#f08d49}.token.class-name,.token.constant,.token.property,.token.symbol{color:#f8c555}.token.atrule,.token.builtin,.token.important,.token.keyword,.token.selector{color:#cc99cd}.token.attr-value,.token.char,.token.regex,.token.string,.token.variable{color:#7ec699}.token.entity,.token.operator,.token.url{color:#67cdcc}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}.token.inserted{color:green}

*{
    font-family: "Source code pro", Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    transform: rotate(0);
    transition: transform 0.1s;
    padding: 20px;
}
button{
    background-color: darkgrey;
    height: 45px;
    width: 150px;
}
.animation{
    transform: rotate(180deg)!important;
    transition: transform 0.1s;
}
.content{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.anim{
    color: black;
    font-size: 125%;
}
.content>div{
    text-align: center;
}
.title_GetEl, .title_GetEl2{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 25px;
}
.title_GetEl:hover, .title_GetEl2:hover{
    color: orange;
}
.title_GetEl2{
    margin-top: 200px;
}
.des_GetEl, .des_GetEl3{
    text-align: center;
}
.des_GetEl3{
    margin-bottom: 25px;
}
.des_GetEl{
    text-align: center;
}
.code_lang pre, h5{
    width: 75%;
    margin: auto;
}
.code_lang pre{
    margin-bottom: 30px;
    font-size: 12px;

}
.code_lang h5{
    margin-bottom: 5px;
}
.txt_lorem h3{
    padding-bottom: 10px;
}
.txt_lorem, .txt_lorem2 {
    border: 2px inset black;
    text-align: center;
    width: 900px;
    height: auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    background-color: #c2f8cb;
}
.txt_lorem button{
    margin-top: 20px;
}
.txt_lorem:hover{
    box-shadow: 2px 2px 4px black;
}
.btn_title{
    margin:auto;
}
.example{
    text-align: center;
    border: black inset 2px;
    margin-top: 50px;
    background-color: #c2f8cb;
    width: 900px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
.example button{
    margin-top: 10px;
}
.circle{
    margin: 40px;
    background-color: lightsalmon;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    transition-timing-function: ease-in-out;
    transition: 2s;
}
.circle:hover{
    width: 800px;
    border-radius: 0;
}

.losange{
    margin: 60px;
    background-color: white;
    height: 260px;
    width: 260px;
    transform: rotate(45deg);
    animation-name: losange_changing_colors;
    animation-duration: 4s;
}
@keyframes losange_changing_colors {
    0%  {background-color: lightgreen;}
    25%  {background-color: lightyellow;}
    50%  {background-color: lightgreen;}
    75%  {background-color: lightskyblue;}
    100% {background-color: white;}
}
.img_lightgreen, .img_lightpink{
    height: 500px;
    width: 700px;
}
.img_lightpink{
    display: none;
}

.ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.li{
    height: 50px;
    width: 170px;
    margin: 20px;
    border: solid 2px black;
    text-align: center;
    padding-top: 10px;
}

.li-hover{
    background-color:cadetblue;
    color: cornsilk;
    border: none;
}


.square {
    width: 160px;
    height: 100px;
    margin:10px;
    color: lightsalmon;
    text-align: center;
    border-radius:25px;
    background-color:bisque;
    animation-name: square;
    animation-duration: 6s;
    animation-iteration-count: 2;
    animation-direction: alternate-reverse;
}

@keyframes square {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
    0%   {color:yellow; left:0px; top:0px;}
    25%  {color:blue; left:200px; top:0px;}
    50%  {color:red; left:200px; top:200px;}
    75%  {color:yellow; left:0px; top:200px;}
    100% {color:blue; left:0px; top:0px;}
    50% {width: 100%;}
}

.square:hover {
background-color: yellow;
color:blue
}
.texte{
    text-align:center;
}
.darkmode{
    background-color: gray;
    color:cornsilk;
}
#darkbutton{
    width: 170px;
    height: 50px;
    color: white;
    background-color: black;
    align-items: center;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}
.h2_matou{
    padding: 30px;
    text-align: center;
}
.p_matou{
    text-align: center;
    background-color: cadetblue;
    color:cornsilk;
    height: 90px;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#idimg{
    text-align: center;
}
#imagehover{
    -webkit-filter: grayscale(100%);
    margin-top: 5%;
    width: 15%;
    height: 15%;
    transition: width 1s, height 1s, transform 1s;
}
#idimg{
    text-align: center;
}
#imagehover{
    -webkit-filter: grayscale(100%);
    margin-top: 5%;
    width: 15%;
    height: 15%;
    transition: width 1s, height 1s, transform 1s;
}

#imagehover:hover{
    -webkit-filter: grayscale(0%);
    width: 25%;
    height: 25%;
    transform: rotate(360deg);
}

#imagerotate{
    width: 300px;
}


